{% extends "base.html" %}
{% block content %}
<table class="table table-bordered container" style="margin-top:100px">
    <thead>
      <tr class="text-center my-3">
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Amount</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
        <tr class="text-center">
            <td class=" p-2"><img src="{{item.product.image.url}}" height="75px" alt=""></td>
            <td class="w-50">{{item.product.name}}</td>
            <td > {{item.product.new_price | floatformat:0  }} </td>
            <td> {{item.product_quantity}} </td>
            <td id="amt"> {{item.total_cost  }} </td>
            <td> <a href="{% url "cart-remove" item.id %}"><button class="btn btn-outline-danger" onclick="return confirm('Are you  sure?')"><i class="fa-solid fa-trash"></i></button></a> </td>
        </tr>
      {% endfor %}
      <tr class="text-center">
        <td></td>
        <td></td>
        <td colspan="2" class="fs-5"><b>Total : </b></td>
        <td id="total" class="fs-5"></td>
      </tr>
    </tbody>
  </table>

  <script>
    let node = document.querySelectorAll('#amt')
    let arr = Array.from(node)
    let res = arr.reduce((acc, curr)=>{
      return acc + Number(curr.textContent)
    },0)
    document.getElementById('total').innerHTML=  '<b>'+ 'Rs : ' + res + '</b>'
  </script>
{% endblock content %}

