{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top:70px">
    {% if user.is_authenticated %}
    {% else %}
    <section class="catagery-head" >
        <div class="row">
            <div class="col-md-12">
                <p class="display-5">Best Sellers</p>
                <p class="text-secondary fs-5">Our Most Popular products based on sales. Updated Hourly</p>
                <a href="{% url "login" %}"><button class="btn btn-primary">Already User</button></a>
                <a href="{% url "register" %}"><button class="btn btn-secondary">Register</button></a>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="bg-light catagery-body my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-3">Catagery</h4>
                    <hr>
                </div>

                
            </div>
        </div>
    </section>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href=" {% url "home" %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url "catagery" %}">Products</a></li>
        </ol>
      </nav>
    <div  class="container d-flex flex-column">
        <div class="row justify-content-between">
        {% for item in catagery %}
        <div class="card col-md-4 my-3 bg-light p-3" style="width: 15rem;">
                <a href="{% url "products" item.name %}">
                <img class="card-img-top" src="{{item.image.url}}" alt="Card image cap" style="height:150px">
                <div class="card-body">
                  <h5 class="card-title text-center">{{item.name}}</h5>
                </div>
            </a>
        </div>
         {% endfor %}
        </div>
     </div>
</div>
{% endblock content %}